<h1 *ngIf="!cliente.id">Novo Cliente</h1>
<h1 *ngIf="cliente.id">Editar Cliente</h1>

<div class="well">
  <form #formCliente="ngForm">
    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input type="number" class="form-control" id="cpf" name="cpf" maxlength="11" required
        [(ngModel)]="cliente.cpf" #cpf="ngModel">

      <div class="alert alert-danger" *ngIf="cpf.errors && (cpf.dirty || cpf.touched)">
        <div [hidden]="!cpf.errors?.['required']"> Digite o cpf do cliente. </div>
        <div [hidden]="!cpf.errors?.['maxlength']"> O cpf deve conter no máximo 11 caracteres. </div>
      </div>
    </div>

    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" id="nome" name="nome" minlength="2" required
        [(ngModel)]="cliente.nome" #nome="ngModel">

      <div class="alert alert-danger" *ngIf="nome.errors && (nome.dirty || nome.touched)">
        <div [hidden]="!nome.errors?.['required']"> Digite o nome da cliente. </div>
        <div [hidden]="!nome.errors?.['minlength']"> O nome deve conter ao menos 2 caracteres. </div>
      </div>
    </div>

    <div class="form-group">
      <label for="sobrenome">Sobrenome:</label>
      <input type="text" class="form-control" id="sobrenome" name="sobrenome" minlength="2" required
        [(ngModel)]="cliente.sobrenome" #sobrenome="ngModel">

      <div class="alert alert-danger" *ngIf="sobrenome.errors && (sobrenome.dirty || sobrenome.touched)">
        <div [hidden]="!sobrenome.errors?.['required']"> Digite o sobrenome da cliente. </div>
        <div [hidden]="!sobrenome.errors?.['required']"> O sobrenome deve conter ao menos 2 caracteres. </div>
      </div>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-primary"
        (click)="inserir()" [disabled]="!formCliente.form.valid" *ngIf="!cliente.id">
        <i class="fa fa-save" aria-hidden="true"></i> Salvar
      </button>
      
      <button type="button" class="btn btn-primary"
        (click)="atualizar()" [disabled]="!formCliente.form.valid" *ngIf="cliente.id">
        <i class="fa fa-save" aria-hidden="true"></i> Editar
      </button>

      <a class="btn btn-secondary" [routerLink]="['/cliente']">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
      </a>
    </div>
  </form>
</div>